# Python
__pycache__/
*.py[cod]

# Virtual environment
venv/
.venv/
env/

# Environment variables
.env
.env.*

# IDE
.vscode/
.idea/

# Jupyter
.ipynb_checkpoints/

# Logs
*.log

# ML datasets
data/*.csv
data/*.zip
data/*.parquet

# Trained models
models/*.pkl
models/*.joblib

# OS
.DS_Store
Thumbs.db